html, body {
    height: 100%;
}


#header{
    font-size: 150%;
    background: #1e3547;
    color: white;
    padding: 5px;
    height:29px;
    width: 99%;
    border-radius: 15px;

}
#header2{
    text-align: right;     
    background: #08E8DE;
    color: white;
    padding: 5px;
    height:29px;
    width: 350px;
    position: relative;
    bottom: 5px;
    left:6px;
    float: right;
    
    border-top-left-radius: 700px 200px;
    border-radius: 15px;
}

#container {
    border: none;
    background: #EEFCFA;
    color: black;
    padding: 5px;
    height: 100%;
    width: 99%;
    
    border-radius: 15px  ;
}